<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/navbar.css">
  </head>
  
  <body>
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="logo.png" alt="Logo">
      </div>
      <div class="navbar-links">
        <ul>
          <li class="navbar-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="navbar-item">
            <a href="#">About Us</a>
          </li>
        </ul>
      </div>
      <div class="navbar-account">
        <div class="navbar-account-dropdown">
          <button class="navbar-account-button">Account</button>
          <ul class="navbar-account-dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Preferences</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>