<!DOCTYPE html>
<html>
  <head>
    <title>Tile Dashboard</title>
    <link rel="stylesheet" href="stylesheets/profile.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
  </head>
  <body>

    <div class="menu">
      <div class="title" onclick="f()">John Doe <span class="fa fa-bars"></span>
        <div class="arrow"></div>
      </div>
      <div class="dropdown">
        <p>Inbox <span class="fa fa-inbox"></span></p>
        <p>Settings <span class="fa fa-gear"></span></p>
        <p id="logout-btn">Sign Out <span class="fa fa-sign-out"></span></p>
      </div>
    </div>

    <script src="scripts/profile.js"></script>
  </body>
</html>